<html>
  <body>
    <%= styled_flash %>
    <nav>
      <% if current_user %>
      <p>welcome,<%= current_user.first_name %>
      <a href="/logout">Logout</a>
      <% else %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
