<h1>REGISTER</h1>
<form method="post" action="/register">
  <div>
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" value="<%= user.first_name %>">
  </div>

  <div>
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name" value="<%= user.last_name %>">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="<%= user.email %>">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
  </div>

  <div>
    <label for="password_conformation"> Confirm Password</label>
    <input type="text" name="password" id="password">
  </div>

  <button>Register</button>
</form>